---
const {title='' ,date='',slug=''}  = Astro.props;
---

<a href={`/blog/${slug}`}>
<article class="flex flex-row justify-between items-center w-full">
	<h3 class="text-black text-base" >{title}</h3>
	<p class="text-gray-500">{date}</p>
</article>
</a>